<script>
import { GridStack } from 'gridstack';
import Custom from './Custom.vue';
import uniqueId from 'lodash/uniqueId';

const getUniquePanelId = () => uniqueId('panel-');

export default {
  name: 'Grid',
  components: {
    Custom,
  },
  data() {
    let serializedData = [
      { x: 2, y: 0, w: 3, h: 2 },
      { x: 3, y: 2, w: 4, h: 3 },
    ]
    serializedData.map(item => {
      item.id = getUniquePanelId();
      return item;
    });

    return {
      grid: null,
      title: 'Hello world',
      serializedData,
      gridComponents: [],
    }
  },
  mounted() {
    // Display saved data
    document.querySelector('#saved-data').value = JSON.stringify(this.serializedData, null, '  ');

    // Init grid
    this.grid = GridStack.init({
      minRow: 1,
      cellHeight: 80,
      float: true,
    }).load(this.serializedData);

    // Sync Vue components array with gridstack items
    this.initGridComponents(this.grid.getGridItems());

    this.grid.on('change', (_, items) => {
      console.log('change', items);
      this.updateGridComponents(items);
    });

    this.grid.on('added', (_, items) => {
      console.log('added', items);
      this.addGridComponents(items);
    });

    this.grid.on('removed', (_, items) => {
      console.log('removed', items);
      this.removeGridComponents(items);
    });
  },
  methods: {
    async mountNewGirdComponents() {
      // Ensure new panels are always rendered first
      await this.$nextTick();

      this.$refs.panels.forEach((panel) => {
        const component = this.gridComponents.find(c => c.id === panel.$el.id);
        const widgetContentEl = component.el.querySelector('.grid-stack-item-content');

        if (panel.$el.parentElement === widgetContentEl) return;

        widgetContentEl.appendChild(panel.$el);
      });
    },
    updateGridComponents(items) {
      items.forEach((item) => {
        const component = this.gridComponents.find(c => c.id === item.id);

        component.x = item.x;
        component.y = item.y;
        component.w = item.w;
        component.h = item.h;
      });
    },
    removeGridComponents(items) {
      items.forEach((item) => {
        const index = this.gridComponents.findIndex(c => c.id === item.id);
        this.gridComponents.splice(index, 1);
        // Finally remove the gridstack element
        item.el.remove();
      });
    },
    addGridComponents(items) {
      const parsedItems = items.map(({ id, h, w, x, y, el }) => ({ id, h, w, x, y, el }));

      this.gridComponents.push(...parsedItems)

      this.mountNewGirdComponents();
    },
    initGridComponents(gridElements) {
      this.gridComponents = gridElements.map(el => {
        const id = el.getAttribute('gs-id');
        const data = this.serializedData.find(d => d.id === id);

        return {
          ...data,
          el,
        };
      });

      this.mountNewGirdComponents();
    },
    onLoadGrid() {
      this.grid.load(this.serializedData);
    },
    onSaveGrid() {
      this.serializedData = this.grid.save().map(({ content, ...rest }) => ({ ...rest }));
      document.querySelector('#saved-data').value = JSON.stringify(this.serializedData, null, '  ');
    },
    onClearGrid() {
      this.grid.removeAll();
    },
    onRemoveWidget(item) {
      this.grid.removeWidget(item.el, false);
    },
    onAddWidget() {
      this.grid.addWidget({
        w: 2,
        h: 2,
        id: getUniquePanelId()
      });
    },
  }
}
</script>

<template>
  <div class="container-fluid">
    <label for="title" style="margin-right: 0.5rem;">Panel text:</label>
    <input id="title" style="margin-bottom: 1rem;" v-model="title">
    <br />
    <a @click="onSaveGrid" class="btn btn-primary" href="#">Save</a>
    <a @click="onLoadGrid" class="btn btn-primary" href="#">Load saved data</a>
    <a @click="onClearGrid" class="btn btn-primary" href="#">Clear grid</a>
    <a @click="onAddWidget" class="btn btn-primary" href="#">Add widget</a>
    <br/><br/>
    <div id="gridCont">
      <div class="grid-stack">
        <custom
          v-for="item in gridComponents"
          ref="panels"
          :id="item.id"
          :key="item.id"
          :name="item.id"
          :title="title"
          @remove="onRemoveWidget(item)"
        />
      </div>
    </div>
    <hr/>
    <label for="saved-data">Saved data</label>
    <textarea id="saved-data" style="width: 100%" cols="100" rows="20" readonly="readonly"></textarea>
  </div>
</template>
