<script>

export default {
  name: 'Custom',
  props: {
    name: String,
    title: String,
  }
}
</script>

<template>
  <div class="component">
    <button
      @click="$emit('remove')"
      style="position: absolute; right: 1.2rem;"
      title="Remove panel">
      x
    </buttoN>

    <strong>{{ name }}</strong>
    <p>{{ title }}</p>
  </div>
</template>

<style scoped>
  .component {
    background-color: red;
    padding: 0.2rem;
    margin: 1rem;
  }
</style>
